/* Style for the Weather Dashboard */
body {
    font-family: sans-serif;
    background-color: rgb(144, 207, 232);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff8e;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    padding: 30px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 200px;
}

.search-bar button {
    padding: 10px 15px;
    background-color: #13bd00;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.weather-data {
    margin-top: 20px;
}

.location {
    font-size: 24px;
    margin-bottom: 10px;
}

.current-weather {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.temperature {
    font-size: 48px;
    margin-left: 20px;
}

.additional-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.additional-info div {
    text-align: left;
}
